{% extends "base.html.twig" %}
{% block body %}
	<section class="text-gray-600 body-font">
		<div class="container px-5 py-24 mx-auto">
			<div class="flex flex-col text-center w-full mb-20">
				<h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">With Symfony ({{cc}})</h2>
				<h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">CoinRivet Cache</h1>
			</div>
			<div class="flex flex-wrap -m-4">
			{% include "components/PageCard.html.twig" with {title: 'home'} %}
			{% include "components/PageCard.html.twig" with {title: 'prices'} %}
			{% include "components/PageCard.html.twig" with {title: 'market-data'} %}
			</div>
		</div>
	</section>
{% endblock %}
